body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    color: teal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: teal;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: teal;
}